<tr class="selected" id="fila' + cont + '"><td><button type="button" class="btn btn-danger btn-sm" onclick="eliminar(' + cont + ');"><i class="fa fa-times fa-2x"></i></button></td><td><input type="hidden" name="paracaidista_id[]" value="' + paracaidista_id + '" />' + paracaidista + '</td></tr>